
    <button mat-flat-button color="accent">
      <fa-icon [icon]="faEyeSlash" size="lg"></fa-icon>
      <span class="icon-description">Hide</span>
    </button>

    <button mat-flat-button color="accent">
      <fa-icon [icon]="faCheck" size="lg"></fa-icon>
      <span class="icon-description">Confirm Changes</span>
    </button>

    <button mat-flat-button color="accent">
      <fa-icon [icon]="faTimes" size="lg"></fa-icon>
      <span class="icon-description">Cancel Changes</span>
    </button>
<p>
detail works!
</p>