.module-title-spacer {
  flex: 1 1 auto;
}

.icon-description {
  padding-left: 0.5em;
}

.search-icon {
  padding-right: 0.5em;
}

button {
  margin-left: 1em;
}

mat-form-field {
  font-size: 0.8em;
}

table {
  height: 100%;
  width: 100%;
}

